<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/images/logo.jpg">
    <link href="about.css" rel="stylesheet" />
    <title>About Us</title>
</head>

<body>

    <div class="container-fluid">
        <div class="homepage">
            {{>nav}}
            <div class="row">
                <div class="col col-md-12">
                    <div class="text-container-big mx-auto">
                    <h3>About us</h3>
                        <p>Our mission is to encourage more and more people to donate even a slightest bit of what 
they earn to a place which they can Trust. 
Donate India provides you with a place where you can find a cause that you can personally associate with and help fund it, using the fairest form of money that ever existed. With your help we will support established NGOs in their efforts to promote their causes and accumulate additional funding for their charitable initiatives.
</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-4">
                    <div class="text-container">
                        <h4>Email</h4>
                        <p>xyz@donateIndia.com <br> donateIndiaOrg@gmail.com</p>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="text-container">
                        <h4>Contact</h4>
                        <p>xxxxxxxxxx <br> xxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="text-container">
                        <h4>Address</h4>
                        <p>Delhi, India <br> Karnal, Haryana</p>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>