<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/images/logo.jpg">
    <link href="index.css" rel="stylesheet" />
    <title>Home</title>
</head>

<body>

    <div class="container-fluid">
        <div class="homepage">
            {{>nav}}
            <div class="row">
                <div class="col col-md-12">
                    <div class="text-container mx-auto">
                        <p>Your contribution can give Hope!<br>
                            Find a cause you care for
                            and donate with a click</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 mt-5 ">
                    <center>
                        <a href="#Explore"><button type="button" class="btn btn-primary">
                                Explore Campaigns</button></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: white;" id="Explore">
            <div class="col col-md-7">
                <div class="content-box" style="background-image: url('./images/mindjam7.jpg');"></div>
            </div>
            <div class="col col-md-5">
                <div class="written-content">
                    <h3>NO CHILD HOMELESS</h3>
                    <p>
                    This campaign focuses on finding families for homeless children, as every child deserves a permanent family of his/her own. A shelter is run as a home for abandoned children, where they are provided with food, healthcare, and education.
Please come forward and donate online as much or as little as you can. A little help from you can make a big difference in the lives of thousands of families.

<br>HELP THEM FIND A ROOF OVER THEIR HEADS.
                    </p>
                    <a href="/viewCamps" type="button" class="btn btn-primary">View Campaign</a>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: white;">
            <div class="col col-md-5">
                <div class="written-content">
                    <h3>EDUCATION FOR EVERYONE</h3>
                    <p>
                        This campaign focuses on bringing education to financially weak families who are ignorant and unaware of the potential of education. Free education to slum children is provided which includes free study material, uniform as well as medical care. The NGO works independently on donations and contributions from people like yourself. 
Please come forward and donate online as much or as little as you can. A little help from you can make a big difference in the lives of thousands of families.

<br>HELP THEM GROW BY LEARNING TODAY

                    </p>
                    <a href="/viewCamps" type="button" class="btn btn-primary">View Campaign</a>
                </div>

            </div>
            <div class="col col-md-7">
                <div class="content-box" style="background-image: url('./images/mindjam8.jpg');"></div>
            </div>
        </div>
        <div class="row" style="background-color: white;">
            <div class="col col-md-7">
                <div class="content-box" style="background-image: url('./images/mindjam9.jpg');"></div>
            </div>
            <div class="col col-md-5">
                <div class="written-content">
                    <h3>HOME- A DISTANT DREAM </h3>
                    <p>
                        Migrant workers and daily wage labourers have been the most adversely affected by the nationwide lockdown.Having no source of income and means of transportation to return home, they have resorted to cover their journey on foot. Having no food or clean water, they are now vulnerable to both COVID-19 as well as starvation. 
Please come forward and donate online as much or as little as you can. A little help from you can make a big difference in the lives of thousands of families.

<br>HELP THEM REACH HOME SAFELY.

                    </p>
                    <a href="/viewCamps" type="button" class="btn btn-primary">View Campaign</a>
                </div>

            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>